Amazon Price Tracker.json
{
  "name": "Amazon Price Tracker",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12hRclWEx8kOevV8ONbZgIH1guRkBh22YzwgltV9F7Ns",
          "mode": "list",
          "cachedResultName": "E-commerce Price Volatility Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12hRclWEx8kOevV8ONbZgIH1guRkBh22YzwgltV9F7Ns/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Products_Input",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12hRclWEx8kOevV8ONbZgIH1guRkBh22YzwgltV9F7Ns/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        608,
        704
      ],
      "id": "71e782a4-00f9-4d28-a643-5b0166735507",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8CaWHHbl8WAtwN8E",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://api.scraperapi.com?api_key=54427f427240c6a8018a61c28648eb00&url={{ $json.URL }}&render=true&wait=5000",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        816,
        704
      ],
      "id": "76cf1319-8085-471d-ad24-8e82cf00cbf4",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        400,
        704
      ],
      "id": "d623183e-21a9-4a32-b3a0-1ae42ed8b132",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "price",
              "cssSelector": ".aok-offscreen"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1024,
        704
      ],
      "id": "98754af6-f605-4317-b51c-48e2967e04d6",
      "name": "HTML1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "12hRclWEx8kOevV8ONbZgIH1guRkBh22YzwgltV9F7Ns",
          "mode": "list",
          "cachedResultName": "E-commerce Price Volatility Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12hRclWEx8kOevV8ONbZgIH1guRkBh22YzwgltV9F7Ns/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1334390421,
          "mode": "list",
          "cachedResultName": "Price_History",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12hRclWEx8kOevV8ONbZgIH1guRkBh22YzwgltV9F7Ns/edit#gid=1334390421"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.toFormat('dd-MM-yyyy') }}",
            "Product Name": "={{ $('Get row(s) in sheet1').item.json['Product Name'] }}",
            "Link": "={{ $('Get row(s) in sheet1').item.json.URL }}",
            "Price ($)": "={{ Math.floor(parseFloat($json.price.replace('$', ''))) }}"
          },
          "matchingColumns": [
            "Date"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Product Name",
              "displayName": "Product Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price ($)",
              "displayName": "Price ($)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1232,
        704
      ],
      "id": "ab2d09e0-6487-45f9-9c21-1f182f3dee87",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8CaWHHbl8WAtwN8E",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "015fbe75-1752-4193-882d-f533662b2499",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fc50b78e3b98ecdd14417e87823b271760ee809944c02d1a1a059e98f39f4336"
  },
  "id": "c12Sqt1ASo3Hg-92tR_yV",
  "tags": []
}